<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center my-4">
            <span class="text-primary">Books panel</span> Register
          </h1>
          <form novalidate
                #form="ngForm"
                (ngSubmit)="onSubmit()"
          >
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     id="email"
                     class="form-control"
                     name="email"
                     required
                     [(ngModel)]="email"
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     id="password"
                     class="form-control"
                     name="password"
                     required
                     [(ngModel)]="password"
              >
            </div>
            <button class="btn btn-primary btn-block"
                    [disabled]="form.invalid"
            >Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
